# Server port configuration
PORT=3001

# PostgreSQL database connection string (e.g. NeonDB, Local Postgres)
DATABASE_URL=postgresql://username:password@hostname:port/database?sslmode=require

# JSON Web Token configurations
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
